[submodule "vim/vim.symlink/bundle/haskellmode-vim"]
	path = vim/vim.symlink/bundle/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/vim.symlink/bundle/SHIM"]
	path = vim/vim.symlink/bundle/SHIM
	url = git://github.com/vim-scripts/Superior-Haskell-Interaction-Mode-SHIM.git
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/numbers"]
	path = vim/vim.symlink/bundle/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/gitgutter"]
	path = vim/vim.symlink/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim.symlink/bundle/autoclose"]
	path = vim/vim.symlink/bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/solarized"]
	path = vim/vim.symlink/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/css-color"]
	path = vim/vim.symlink/bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/vim.symlink/bundle/css3-syntax"]
	path = vim/vim.symlink/bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/hl7"]
	path = vim/vim.symlink/bundle/hl7
	url = git://github.com/niquola/vim-hl7.git
[submodule "vim/vim.symlink/bundle/gnupg"]
	path = vim/vim.symlink/bundle/gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule "vim/vim.symlink/bundle/pathogen"]
	path = vim/vim.symlink/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/vim.symlink/bundle/indent-guides"]
	path = vim/vim.symlink/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim.symlink/bundle/airline"]
	path = vim/vim.symlink/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "z/z"]
	path = z/z
	url = git://github.com/rupa/z.git
